h1 {
    font-family: Rubik Bubbles, sans-serif;
}

img {
    height: 20dvh;
    object-fit: cover;
    object-position: center;
}


.vanilla-image {
    background-color: bisque;
}

.chocolate-image {
    background-color: brown;
}

.strawberry-image {
    background-color: pink;
}

.butterbrickle-image {
    background-color: gold;
}

.potato-image {
    background-color: antiquewhite;
}

.cranberry-image {
    background-color: #800020;
}