h1 {
    font-family: Rubik Bubbles, sans-serif;
}

img {
    height: 20dvh;
    object-fit: cover;
    object-position: center;
}

svg {
    fill: white;
    height: 40px;
}


.vanilla-image {
    background-color: bisque;
}

.chocolate-image {
    background-color: #7B3F00;
}

.strawberry-image {
    background-color: pink;
}

.butterbrickle-image {
    background-color: #E1C16E;
}

.potato-image {
    background-color: antiquewhite;
}

.cranberry-image {
    background-color: #922B21;
}